@model Portfolio.WebUI.Areas.Admin.Models.Home.HomeViewModel

@{
    ViewBag.Title = "Admin - " + Model.CurrentUser.FullName;
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 page-title-bar">
            <h2 class="pull-left page-title">Hello @Model.CurrentUser.FirstName</h2>
        </div>
    </div>
</div>

