<div class="footer__container">
    <ul class="footer__social social-nav">
        <li class="social-nav__item social-nav__item--instagram"><a href="https://www.instagram.com/hannahhamlinknit/" title="Instagram" target="_blank"></a></li>
        <li class="social-nav__item social-nav__item--linkedin"><a href="https://www.linkedin.com/in/hannah-hamlin-925a6b104" title="LinkedIn" target="_blank"></a></li>
    </ul>
    <ul class="footer__contact">
        <li class="footer__contact-item">Email: <a href="mailto:hannahhamlin1@gmail.co.uk">hannahhamlin1@gmail.co.uk</a></li>
        <li class="footer__contact-item">Tel: +44 7814 221687</li>
    </ul>
</div>