<div class="header__container">
    <a class="brand" href="@Url.Action("Index", "Home")">
        <img src="" class="brand__image" />
    </a>
    <a class="nav-toggle js-toggle-class" data-target="navbar" data-class="active">
        <div class="nav-toggle__container">
            <span class="nav-toggle__bar nav-toggle__bar--top"></span>
            <span class="nav-toggle__bar nav-toggle__bar--middle"></span>
            <span class="nav-toggle__bar nav-toggle__bar--bottom"></span>
        </div>
    </a>
    <ul id="js-navbar" class="navbar">
        <li class="navbar__item"><a href="@Url.Action("Index", "DigitalPortfolio")">Portfolio</a></li>
        <li class="navbar__item"><a href="@Url.Action("Index", "Projects")">Projects</a></li>
    </ul>
</div>
