@{
    ViewBag.Title = "";
}

<div id="js-home-image-wrapper" class="home-image-wrapper">
    <img id="js-home-image" class="home-image" src="" alt="Hannah Knitwear" />
</div>
<div class="container container--home">
    <div class="latest-projects">
        <h2 class="title">Latest Projects</h2>
        <hr class="underline" />
        <p class="text-center">Currently no projects.</p>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/Scripts/masonry")
    <script>

        var imageWrapper = document.getElementById("js-home-image-wrapper");
        var image = document.getElementById("js-home-image");
        var headerHeight = document.getElementById("js-header").clientHeight;

        $(document).ready(function () {

            $(window).resize(function () {
                headerHeight = document.getElementById("js-header").clientHeight;
                isImage = ((image.clientHeight < viewport().height - headerHeight) ? true : false);
                if (viewport().width < 992 && isImage) {
                    imageWrapper.style.height = image.clientHeight + "px";
                } else {
                    imageWrapper.style.height = viewport().height - headerHeight + "px";
                }
            });

        });

        $(window).on("load", function () {
            var isImage = ((image.clientHeight < viewport().height - headerHeight) ? true : false);
            if (viewport().width < 992 && isImage) {
                imageWrapper.style.height = image.clientHeight + "px";
            } else {
                imageWrapper.style.height = viewport().height - headerHeight + "px";
            }

            projects = document.getElementById("js-masonry");

            if (projects == null)
                return false;
            projectsImage = document.querySelectorAll('.project__image');
            msnry = new Masonry('#js-masonry', {
                columnWidth: '.grid-sizer',
                itemSelector: '.project__item',
                percentPosition: true
            });
            projects.className = "project";

            for (i = 0; i < projectsImage.length; i++) {
                fadeImageIn(projectsImage[i], i)
            }

            function fadeImageIn(image, counter) {
                setTimeout(function () { image.className = "project__image"; }, counter * 400);
            }
        });

    </script>
}